[Unit]
Description=Run system maintenance every Sunday at 2am

[Timer]
OnCalendar=Sun 02:00:00
Persistent=True
Unit=systemupdate.service

[Install]
WantedBy=timers.target
